* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 50px;
	color: red;
	background-color: black;
	text-align: center;
	line-height: 50px;
}

nav {
	width: 100%;
	height:25px;
	float: left;
	text-align: center;
}

nav a {
	display: block;
	width: 25%;
	height:100%;
	float: left;
	background-color: rgb(30,30,220);
	line-height: 25px;
	color:white;
	text-decoration:none;

}

#slika {
	width: 100%;
	height: auto;
	float: left;
}

.blok {
	width: 33.33%;
	height: 100px;
	float: left;
	background-color: red;

}




@media only screen and (min-width: 641px) and (max-width: 1000px){
	nav a {
		background-color: purple;
	}
}

@media only screen and (max-width: 640px){
	header {
		background-color: blue;
		color: white;
	}
	nav a {
		background-color: green;
		color: white;
		width: 100%;
		height: 25%;
		padding: 10px;
	}

	nav {
		height: 200px;
	}
	.blok {
		width: 100%;
		margin-top: 20px;
	}
}

